body {
	width: 900px;
	margin: 0 auto;
}
h1 {
	text-align: center;
	margin-top: 20%;
	font-size: 6em;
}
.input-block {
	width: 100%;
	text-align: center;
}
.input-block input {
    width: 60%;
}
.input-block input:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}